<!-- Card contains all the signup form elements  -->
<div class="card-body container-sm border border-dark rounded-lg">
  <h2>Sign up</h2>

  <!-- Email input -->
  <form class="form signup-form">
    <div class="form-group form-row">
      <div class="col-5">
        <input type="email" class="form-control" id="email-signup" placeholder="email@email.com" aria-describedby="emailInput">
      </div>

      <!-- Username input -->
      <div class="col-5">
        <input type="text" class="form-control" id="name-signup" placeholder="Username" aria-describedby="usernameInput">
      </div>
    </div>

    <!-- Password input -->
    <div class="form-group row">
      <div class="col-10">
        <input type="password" id="password-signup" class="form-control" placeholder="Password" aria-describedby="passwordHelpInline">
      </div>

      <!-- Sign up button -->
      <div class="col-10" style="margin-top: 1rem" id="signup-btn">
        <button class="btn btn-block btn-outline-secondary text-light" type="submit">Signup</button>
      </div>
    </div>
 
  </form>
</div>

<script src="./js/signup.js"></script>